* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #469a7f;
  height: 70px;
  width: 100%;
}

.container {
  background-color: #ffffff;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.item {
  background-color: #ff0037;
  color: #fff;
  font-size: 35px;
  padding: 20px;
  margin: 10px;
}
header > h1 > span {
  font-family: Roboto, "Arial Narrow", Arial, sans-serif;
  color: #e3e3e3;
  position: relative;
  top: 80px;
  left: 200px;
}

.dot {
  height: 100px;
  width: 100px;
  background-color: rgb(151, 64, 64);
  border-radius: 50%;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  margin-top: -49px;
  margin-left: 50px;
}

body {
  font-family: "Roboto", sans-serif;
  background: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1rem;
  gap: 1.5rem;
}

.card {
  box-shadow: 0 0 5px black;
  max-width: 450px;
  border-radius: 8px;
  background: white;
}
.card > P {
  line-height: 1.5;
}

.card__title {
  text-align: center;
}

.card__subtitle {
  font-size: 1.25rem;
  text-align: center;
  color: gray;
}

.card .img-center {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card.black {
  filter: invert(1);
}

.card.black img {
  filter: invert(1);
}

.card.elegant {
  border: 10px double black;
  border-radius: 0;
  font-family: "Roboto Serif", serif;
}

.card.playful {
  border: 10px pink;
  border-style: dashed;
  font-family: "Comfortaa", fantasy;
  background: #c0fff4;
}

.card.playful img {
  border-radius: 8px;
}

.card.brutal {
  background: linear-gradient(to bottom right, cyan 50%, fuchsia 50%);
  border-radius: 30px 0 30px 0;
  font-family: "Roboto Mono", monospace;
}

.card.brutal .card__title {
  background: black;
  color: white;
}

.card.brutal p {
  background: white;
  box-shadow: 10px 10px black, -10px -10px black;
}

.card p {
  margin: 1rem;
  padding: 10px;
}
